<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   news.plist
   NewsReader

   Created by 陈思行 on 15/11/6.
   Copyright (c) 2015年 Sean Chain. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
